@keyframes companyNameBlink {
  0% {
    opacity: 1;
    background-color: transparent;
  }
  50% {
    opacity: 0.5;
    background-color: rgba(68, 90, 255, 0.1);
  }
  100% {
    opacity: 1;
    background-color: transparent;
  }
}

.company-name-blink {
  animation: companyNameBlink 0.8s ease-in-out infinite;
}